<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial</title>
  </head>
  <body>
    <h1>About</h1>
        <p>
            Juliette, 25, from Paris (FR).
        </p>
    </body>
</html>
